.fade-out {
  position: relative;
  max-height: 350px; // change the height
}
.fade-out:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100% );
}

.list{

  position: absolute;
  width: calc(100% - 64px);
  /* left: 32px; */

}

.hero-body {
  padding-top: 18px !important;
}


.hero-head {
  padding-top: 24px !important;
}